mixin selectTypeDefault(params)
    -
        const classes = params.mix ? `select  ${params.mix}` : 'select';

    div(class= classes)
        .select__trigger
            span.select__selected-option!= params.value
            +icon({
                mix: '_size_xs select__toggle-icon',
                id: 'arrow-bottom'
            })

        .select__dropdown._hidden
            each el in params.options
                label.select__dropdown-item(for=el.id)!= el.title
                    input.select__item(type="radio" id=el.id name=el.name value=el.title)
