mixin cardYear(params)
    -
        const classes = params.mix ? `card-year ${params.mix}` : 'card-year';

    div(class= classes)
        .card-year__header
            span.card-year__num!= `0${params.num} /`
            span.card-year__year!= params.year
            button.card-year__button
                +icon({id: "plus", mix: "card-year__plus"})
                +icon({id: "minus", mix: "card-year__minus"})
        .card-year__content
            .card-year__content-top
                p.card-year__text!= params.text
                +image({mix: "card-year__image", src: `assets/media/card-year-${params.num}.png`, alt: "photo"})
                p.card-year__text._mob_hidden
            ul.card-year__progress-list
                each el in params.progressList
                    li!= `/${el}`


