mixin cardDistrict(params)
    -
        const classes = params.mix ? `card-district ${params.mix}` : 'card-district';

    div(class= classes)
        h3.card-district__title!= params.district
        .card-district__filials
            each el in params.filials
                .card-district__filial
                    .card-district__address
                        if el.preAddresss
                            span!= el.preAddresss
                        span!= el.address
                    .card-district__groups
                        each group in el.groups
                            .card-district__group
                                +icon({id: group.img, mix: "card-district__icon"})
                                span.card-district__group-name!= group.name
                                ul.card-district__schedule
                                    each item in group.schedule
                                        li!= item




