mixin radioGroup(params)
    -
        const classes = params.mix ? `radio-group ${params.mix}` : 'radio-group';

    div(class= classes)
        each option, index in params.options
            .radio-group__item
                input.radio-group__input(
                    type="radio"
                    id=`${params.name}-${index}`
                    name=params.name
                    value=option.value
                    checked=(option.value === params.selected)
                    required=true
                )
                label.radio-group__label(for=`${params.name}-${index}`)
                    span.radio-group__custom-radio
                    span.radio-group__text= option.label
