mixin cardTriner(params)
    -
        const classes = params.mix ? `card-trainer ${params.mix}` : 'card-trainer';

    div(class= classes)
        button.card-trainer__button-close
            +icon({id: "plusBold", mix: "card-trainer__icon-button"})
        .card-trainer__image-container
            if params.hasPhoto
                +image({src: `assets/media/t${params.num}.png`, mix: "card-trainer__image"})
        .card-trainer__content
            h4.card-trainer__name!= params.name
            h5.card-trainer__item-value._view-mob_center!= params.jobTitle
            +buttonTypeDefault({mix: "_theme_transparent _size_sm _mob_flex card-trainer__button", text: "ПОДРОБНЕЕ"})
            .card-trainer__info
                span.card-trainer__item-wrapper._view-mob_flex
                    span.card-trainer__item-title Профессиональная карьера:
                    span.card-trainer__item-value!= params.career
                span.card-trainer__item-wrapper
                    span.card-trainer__item-title Стаж тренерской деятельности:
                    span.card-trainer__item-value!= params.workExperience

                if params.license
                    span.card-trainer__item-wrapper
                        span.card-trainer__item-title Тренерская лицензия:
                        span.card-trainer__item-value!= params.license
                span.card-trainer__item-wrapper._mr-md
                    span.card-trainer__item-title Образование:
                    span.card-trainer__item-value!= params.education

